:root {
	--primary-color: #FFA200;
	--secondary-color: #86BB2A;
	--white-color: #FFFFFF;
	--dark-color: #000000;
	--text-color: #5E5E60;
	--text-color-var: #5A5C60;
	--bg-color: #F6F6F6;

	--font-myriard-pro: 'Myriad Pro', sans-serif;
	--font-museo-sans: 'Museo Sans Cyrl', sans-serif;
	--font-open-sans: 'OpenSans', sans-serif;
}

html {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

*,
*::before,
*::after {
	-webkit-box-sizing: inherit;
	box-sizing: inherit;
}

body {
	font-weight: 400;
	line-height: 30px;
	font-size: 20px;
	margin: 0;
	padding: 0;
	font-family: Montserrat, 'sans-serif';
	color: #5D606C;
}

.container {
	max-width: 1280px;
	padding: 0 15px;
	margin: 0 auto;
}

.overlay {

}

.overlay {
	display: none;
	width: 100vw;
	height: 100vh;
	background: rgba(0, 0, 0, 0.50);
	position: fixed;
	top: 0;
	left: 0;
	z-index: 19;
}

.overlay.active {
	display: block;
}

.no-scroll {
	overflow: hidden;
	padding-right: 15px;
}

img {
	display: block;
}

.single-doctor-title {
	color: #333;
	font-size: 40px;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
}

@media screen and (max-width: 990px) {
	.single-doctor-title {
		font-size: 35px;
	}
}

@media screen and (max-width: 680px) {
	.single-doctor-title {
		font-size: 25px;
	}
}

/* ----- slider arrows ----- */
.slider-btn-prev,
.slider-btn-next {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	border: 1px solid #757C9D;
	background: #757C9D;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
}

.slider-btn-prev svg,
.slider-btn-next svg {
	width: 30px;
	fill: #fff;
	transform: translateX(-2px);
}

.slider-btn-next {
	transform: rotate(180deg);
}

.slider-btn-prev[aria-disabled="true"],
.slider-btn-next[aria-disabled="true"] {
	background: transparent;
	cursor: default;
}

.slider-btn-prev[aria-disabled="true"] svg,
.slider-btn-next[aria-disabled="true"] svg {
	background: transparent;
	fill: #757C9D;
}

@media screen and (max-width: 680px) {
	.slider-btn-prev,
	.slider-btn-next {
		width: 38px;
		height: 38px;
	}

	.slider-btn-prev svg,
	.slider-btn-next svg {
		width: 25px;
	}
}

/* ----- end slider arrows ----- */

/* ----------- RESET ----------- */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* ---------- end RESET ---------- */
