/* --------------------- doctor --------------------- */
.doctor {
	padding: 50px 0 80px 0;
}

.doctor__title {
	color: #333;
	font-size: 50px;
	font-weight: 600;
	margin-bottom: 50px;
}

.doctor__container {
	position: relative;
}

.doctor__ellipse {
	position: absolute;
	top: -24px;
	left: -86px;
	z-index: -1;
}

.doctor__ellipse img {
	transform: rotate(-4.136deg);
	width: 670px;
	height: 519px;
}

.doctor__inner {
	display: flex;
}

.doctor__card {
	flex: 0 0 426px;
	margin-right: 76px;
	overflow: hidden;
	border-radius: 15px;
	display: flex;
	flex-direction: column;
}

.doctor__img {
	border-radius: 15px 15px 0 0;
	background: #FFF;
}

.doctor__img img {
	max-width: 426px;
	min-width: 426px;
	max-height: 467px;
	min-height: 467px;
	object-fit: cover;
	object-position: 0 -60px;
}

.doctor__rating {
	border-radius: 0 0 15px 15px;
	box-shadow: inset 0 0 0 1px #757C9D;
	background: #FFF;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 15px 20px;
	width: 100%;
}

.doctor__rating-left {
	display: flex;
}

.doctor__number {
	color: #A0072C;
	font-size: 30px;
	font-weight: 500;
	line-height: normal;
	margin-right: 16px;
}

.doctor__reviews {
	display: flex;
	align-items: center;
}

.doctor__reviews a {
	color: #A0072C;
	font-size: 16px;
	font-weight: 500;
	line-height: normal;
	text-decoration-line: underline;
}

.doctor__stars-item {
	width: 21px;
	height: 19px;
	fill: #5D606C;
}

.doctor__stars {
	display: flex;
	justify-content: space-around;
	align-items: center;
	width: 165px;
	height: 25px;
}

.doctor__btn {
	display: flex;
	justify-content: center;
}

.doctor__btn a {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 265px;
	height: 50px;
	border-radius: 25px;
	background: #A0072C;
	color: #FFF;
	font-size: 16px;
	font-weight: 500;
	line-height: normal;
	text-decoration: none;
	margin-top: 25px;
}

.doctor__info {
	border-radius: 15px;
	border: 1px solid #757C9D;
	background: #FFF;
	padding: 35px 30px;
}

.doctor__info-group:not(:first-child) {
	margin-top: 25px;
}

.doctor__info-title {
	color: #000;
	font-size: 20px;
	font-weight: 600;
	margin-bottom: 10px;
}

.doctor__info-text p {
	color: #5D606C;
	font-size: 20px;
	font-weight: 500;
	line-height: 26px; /* 130% */
}

.doctor__info-prices {
	border-radius: 5px;
	border: 1px solid #CFCFCF;
	overflow: hidden;
}

.doctor__info-list {
	padding: 18px;
	max-height: 157px;
	min-height: 157px;
	overflow-y: scroll;
}

.doctor__info-list::-webkit-scrollbar {
	background: #F3F1F1;
	width: 8px;
	border-radius: 0 4px 4px 0;
}

.doctor__info-list::-webkit-scrollbar-thumb {
	background: #757C9D;
	width: 8px;
}

.doctor__info-major {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.doctor__info-major:not(:last-child) {
	margin-bottom: 10px;
}

.doctor__info-major span {
	color: #5D606C;
	font-size: 18px;
	font-weight: 500;
	line-height: normal;
}

.doctor__info-more {
	margin-top: 21px;
	display: block;
	color: #757C9D;
	font-size: 18px;
	font-weight: 500;
	line-height: normal;
	text-decoration: none;
}

.doctor__info-more._mobile {
	display: none;
}

/* --------------------- end doctor --------------------- */
/* --------------------- skill --------------------- */
.skill {
	padding-bottom: 80px;
}

.skill__tabs {
	margin-top: 40px;
}

.skill__buttons {
	display: flex;
	width: 100%;
}

.skill__btn-item {
	width: 33.3333%;
	padding: 10px 10px 12px 10px;
	border-radius: 15px 15px 0 0;
	border: 2px solid #757C9D;
	text-align: center;
	color: #757C9D;
	font-size: 25px;
	font-weight: 500;
	line-height: normal;
	cursor: pointer;
}

.skill__btn-item.active {
	background: #757C9D;
	color: #FFF;
}

.skill__contents {
	background: #FFF;
	transform: translateY(-2px);
	min-height: 435px;
	max-height: 435px;
}

.skill__content {
	visibility: hidden;
	position: absolute;
	top: 0;
	left: 50%;
	transform: translateX(-50%);
	width: calc(100% - 1px);
	min-height: 435px;
	max-height: 435px;
	overflow-y: auto;
	border: 1px solid #757C9D;
}

.skill__content.active {
	visibility: visible;
}

.skill__content::-webkit-scrollbar {
	background: #F3F1F1;
	width: 8px;
	border-radius: 0 4px 4px 0;
}

.skill__content::-webkit-scrollbar-thumb {
	background: #757C9D;
	width: 8px;
}

.skill__dates-line {
	position: absolute;
	top: 50px;
	left: 68px;
	height: 100%;
	width: 3px;
	background: #757C9D;
}

.skill__dates {
	padding: 50px 0;
}

.skill__dates-item {
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	position: relative;
	margin: 0 35px;
}

.skill__dates-item:not(:last-child) {
	margin-bottom: 20px;
}

.skill__dates-number {
	width: 67px;
	height: 33px;
	border-radius: 5px;
	background: #757C9D;
	color: #FFF;
	font-size: 18px;
	font-weight: 500;
	line-height: normal;
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 1;
}

.skill__content._long-date .skill__dates-number {
	width: 142px;
}

.skill__content._long-date .skill__dates-body {
	padding-left: 160px;
}

.skill__content._long-date .skill__dates-line {
	left: 106px;
}

.skill__dates-body {
	padding-left: 91px;
}

.skill__dates-name {
	color: #000;
	font-size: 20px;
	font-weight: 500;
	margin-bottom: 5px;
	line-height: normal;
}

.skill__dates-description {
	color: #5D606C;
	font-size: 18px;
	font-weight: 500;
	line-height: normal;
}

.skill__images {
	padding: 50px 35px;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 25px;
}

.skill__images-item img {
	width: 100%;
}

.skill__tab-name {
	display: none;
}

/* --------------------- end skill --------------------- */
/* --------------------- work --------------------- */
.work {
	margin-bottom: 80px;
}

.work__slider {
	width: 100%;
}

.work .slider-btn-prev {
	margin-right: 30px;
}

.work__image {
	border-radius: 5px;
	overflow: hidden;
	user-select: none;
}

.work__image img {
	width: 100%;
	max-height: 263px;
	min-height: 263px;
	object-fit: cover;
}

.work__head {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 39px;
}

.work__buttons {
	display: flex;
}

/* --------------------- end work --------------------- */
/* --------------------- reviews --------------------- */
.reviews {
	margin-bottom: 80px;
}

.reviews .swiper-slide {
	display: flex;
	height: auto;
}

.reviews__slider {
	width: 100%;
}

.reviews .slider-btn-prev {
	margin-right: 30px;
}

.reviews__head {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 39px;
}

.reviews__buttons {
	display: flex;
}

.reviews__item {
	border-radius: 15px;
	border: 1px solid #757C9D;
	background: #FFF;
	padding: 25px 15px;
	width: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
}

.reviews__item-head {
	display: flex;
	justify-content: flex-start;
}

.reviews__item-avatar {
	margin-right: 15px;
	max-width: 82px;
	min-width: 82px;
	max-height: 82px;
	min-height: 82px;
}

.reviews__item-head {
	margin-bottom: 23px;
	flex: 0 0 82px;
}

.reviews__item-avatar img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.reviews__item-right {
	display: flex;
	align-items: flex-start;
	flex-direction: column;
	justify-content: space-between;
}

.reviews__item-name {
	color: #000;
	font-size: 20px;
	font-weight: 500;
	line-height: normal;
}

.reviews__item-rating {
	display: flex;
	justify-content: space-around;
	align-items: center;
	width: 150px;
	height: 25px;
}

.reviews__item-star {
	width: 21px;
	height: 19px;
	fill: #5D606C;
}

.reviews__item-body {
	flex: 1 1 auto;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.reviews__item-description p {
	color: #5D606C;
	font-size: 16px;
	font-weight: 500;
	line-height: normal;
	/*Ограничение по кол-ву строк*/
	display: -webkit-box;
	-webkit-line-clamp: 9;
	-webkit-box-orient: vertical;
	overflow: hidden;
	-o-text-overflow: ellipsis;
	text-overflow: ellipsis;
}

.reviews__item-description {
	margin-bottom: 10px;
}

.reviews__item-more {
	color: #757C9D;
	font-size: 16px;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
}

.reviews__btn {
	margin-top: 30px;
	display: flex;
	justify-content: center;
}

.reviews__btn a {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 212px;
	height: 50px;
	border-radius: 25px;
	background: #A0072C;
	color: #FFF;
	font-size: 16px;
	font-weight: 500;
	line-height: normal;
	text-align: center;
	text-decoration: none;
}

/* --------------------- end reviews --------------------- */
/* --------------------- about-doctor --------------------- */
.about-doctor {
	margin-bottom: 80px;
}

.about-doctor .single-doctor-title {
	margin-bottom: 40px;
	text-align: center;
}

.about-doctor__video {
	width: 822px;
	height: 416px;
	margin: 0 auto;
	border-radius: 16px;
	overflow: hidden;
}

.youtube-player {
	position: relative;
	width: 100%;
	height: 100%;
}

.youtube-player img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.about-doctor__btn {
	border-radius: 50%;
	width: 105px;
	height: 105px;
	background: #757C9D;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	cursor: pointer;
	display: none;
}

.about-doctor__btn:after {
	content: '';
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-40%, -50%);
	width: 59px;
	height: 59px;
	background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='59' height='59' viewBox='0 0 59 59' fill='none'%3e%3cpath d='M15.3736 50.2037C14.6828 50.2024 14.0041 50.0214 13.4045 49.6783C12.0542 48.9131 11.2148 47.4278 11.2148 45.8154V13.1844C11.2148 11.5675 12.0542 10.0867 13.4045 9.32157C14.0184 8.96874 14.7158 8.7873 15.4239 8.79621C16.1319 8.80512 16.8245 9.00405 17.4294 9.3722L45.3176 26.0658C45.8988 26.4302 46.378 26.9363 46.7101 27.5366C47.0422 28.1368 47.2165 28.8116 47.2165 29.4977C47.2165 30.1837 47.0422 30.8585 46.7101 31.4587C46.378 32.059 45.8988 32.5651 45.3176 32.9295L17.4249 49.6276C16.8059 50.0018 16.0969 50.201 15.3736 50.2037Z' fill='white'/%3e%3c/svg%3e");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.btn-dis .about-doctor__btn {
	display: block;
}

.about-doctor__link {
	font-size: 0;
	opacity: 0;
}

/* --------------------- end about-doctor --------------------- */
/* --------------------- other-doctors --------------------- */
.other-doctors {
	margin-bottom: 160px;
}
.other-doctors__head{
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 40px;
}

.other-doctors__slider{
	position: relative;
}
.other-doctors__buttons{
	display: flex;
	justify-content: space-between;
}
.other-doctors__buttons .slider-btn-prev,
.other-doctors__buttons .slider-btn-next {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	z-index: 1;
}
.other-doctors__buttons .slider-btn-prev {
	left: 20px;
}
.other-doctors__buttons .slider-btn-next {
	right: 20px;
	transform: translateY(-50%) rotate(180deg);
}

.other-doctors__buttons .slider-btn-prev[aria-disabled="true"],
.other-doctors__buttons .slider-btn-next[aria-disabled="true"] {
	background: #fff;
	border: none;
	cursor: default;
}
.other-doctors__buttons .slider-btn-prev[aria-disabled="true"] svg,
.other-doctors__buttons .slider-btn-next[aria-disabled="true"] svg {
	background: #fff;
	fill: #757C9D;
}

.other-doctors__all a{
	color: #757C9D;
	font-size: 18px;
	font-weight: 500;
	line-height: normal;
	text-decoration: none;
}
.other-doctors__item{
	height: 619px;
	border-radius: 18px;
	border: 1px solid #757C9D;
	background: #FFF;
	overflow: hidden;
}
.other-doctors__image img {
	max-width: 396px;
	min-width: 396px;
	max-height: 378px;
	min-height: 378px;
	object-fit: cover;
	object-position: 0 -40px;
}
.other-doctors__content{
	padding: 20px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.other-doctors__name{
	color: #333;
	font-size: 30px;
	font-weight: 500;
	line-height: normal;
	margin-bottom: 10px;
}
.other-doctors__major{
	display: block;
	color: #5D606C;
	font-size: 18px;
	font-weight: 500;
	line-height: normal;
	margin-bottom: 23px;
}
.other-doctors__btn a {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 212px;
	height: 50px;
	color: #FFF;
	font-size: 16px;
	font-weight: 500;
	line-height: normal;
	text-decoration: none;
	border-radius: 25px;
	background: #757C9D;
}

/* --------------------- end other-doctors --------------------- */

@media screen and (max-width: 990px) {
	/* --------------------- doctor --------------------- */
	.doctor {
		padding: 45px 0 80px 0;
	}

	.doctor__title {
		font-size: 40px;
		margin-bottom: 40px;
	}

	.doctor__ellipse {
		display: none;
	}

	.doctor__inner {
		flex-direction: column;
	}

	.doctor__card {
		flex: 0 0 100%;
		margin: 0 0 25px 0;
	}

	.doctor__img img {
		max-width: 100%;
		min-width: 100%;
		max-height: 474px;
		min-height: 474px;
		object-position: 0 -150px;
	}

	.doctor__bottom-box {
		display: flex;
		border-radius: 0 0 15px 15px;
		box-shadow: inset 0 0 0 1px #757C9D;
		background: #FFF;
		padding: 25px;
	}

	.doctor__rating {
		border-radius: 0;
		box-shadow: none;
		justify-content: flex-start;
		padding: 0;
	}

	.doctor__rating-left {
		margin-right: 15px;
	}

	.doctor__number {
		margin-right: 15px;
	}

	.doctor__btn a {
		margin-top: 0;
	}

	.doctor__info {
		padding: 35px 26px;
	}

	/* --------------------- end doctor --------------------- */
	/* --------------------- skill --------------------- */
	.skill__images {
		padding: 40px 35px;
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-gap: 15px;
	}

	/* --------------------- end skill --------------------- */
	/* --------------------- work --------------------- */
	.work__image img {
		max-height: 237px;
		min-height: 237px;
	}

	.work__head {
		margin-bottom: 40px;
	}

	/* --------------------- end work --------------------- */
	/* --------------------- reviews --------------------- */
	.reviews__item-description p {
		/*Ограничение по кол-ву строк*/
		-webkit-line-clamp: 11;
	}

	.reviews__btn {
		margin-top: 35px;
	}

	.reviews__btn a {
		width: 247px;
	}

	/* --------------------- end reviews --------------------- */
}

@media screen and (max-width: 680px) {
	/* --------------------- doctor --------------------- */
	.doctor {
		padding: 50px 0 54px 0;
	}

	.doctor__title {
		font-size: 30px;
		margin-bottom: 30px;
	}

	.doctor__img img {
		max-height: 318px;
		min-height: 318px;
		object-position: 0 -40px;
	}

	.doctor__bottom-box {
		padding: 0;
		box-shadow: none;
		flex-direction: column;
	}

	.doctor__rating {
		padding: 9px 20px;
		border-radius: 0 0 15px 15px;
		box-shadow: inset 0 0 0 1px #757C9D;
		flex-direction: column;
		align-items: flex-start;
		margin-bottom: 25px;
	}

	.doctor__rating-left {
		margin: 0 0 7px 0;
	}

	.doctor__reviews a {
		white-space: nowrap;
	}

	.doctor__stars {
		justify-content: space-between;
	}

	.doctor__btn {
		margin-bottom: 40px;
	}

	.doctor__info {
		padding: 20px 10px;
	}

	.doctor__info-title {
		font-size: 16px;
	}

	.doctor__info-text p {
		font-size: 14px;
	}

	.doctor__info-group:not(:first-child) {
		margin-top: 20px;
	}

	.doctor__info-list {
		padding: 10px;
	}

	.doctor__info-major span {
		font-size: 14px;
	}

	.doctor__info-more {
		display: none;
	}

	.doctor__info-more._mobile {
		display: block;
		margin-top: 20px;
		font-size: 16px
	}

	/* --------------------- end doctor --------------------- */
	/* --------------------- skill --------------------- */
	.skill {
		padding-bottom: 60px;
	}

	.skill__tabs {
		margin-top: 35px;

	}

	.skill__buttons {
		padding-bottom: 16px;
	}

	.skill__btn-item {
		padding: 0;
		border-radius: 0;
		border: none;
		font-size: 0;
		height: 11px;
		background: #D9D9D9;
	}

	.skill__btn-item:not(:last-child) {
		margin-right: 17px;
	}

	.skill__contents {
		min-height: 490px;
		max-height: 490px;
	}

	.skill__content {
		visibility: hidden;
		position: absolute;
		top: 0;
		left: 50%;
		transform: translateX(-50%);
		width: calc(100% - 1px);
		min-height: 490px;
		max-height: 490px;
		border: 1px solid #757C9D;
		border-radius: 15px 15px 0 0;
		overflow: hidden;
	}

	.skill__content.active {
		visibility: visible;
	}

	.skill__dates::-webkit-scrollbar,
	.skill__images::-webkit-scrollbar {
		background: #F3F1F1;
		width: 5px;
		border-radius: 0 4px 4px 0;
	}

	.skill__dates::-webkit-scrollbar-thumb,
	.skill__images::-webkit-scrollbar-thumb {
		background: #757C9D;
		width: 5px;
	}

	.skill__dates-line {
		display: none;
	}

	.skill__dates {
		padding: 25px 10px;
		overflow: scroll;
		min-height: 452px;
		max-height: 452px;
	}

	.skill__dates-item {
		margin: 0;
	}

	.skill__dates-item:not(:last-child) {
		margin-bottom: 15px;
	}

	.skill__dates-number {
		display: none;
	}

	.skill__dates-body {
		padding-left: 0;
	}

	.skill__content._long-date .skill__dates-number {
		width: 142px;
	}

	.skill__content._long-date .skill__dates-body {
		padding-left: 0
	}

	.skill__content._long-date .skill__dates-line {
		left: 106px;
	}

	.skill__tab-name {
		border: 1px solid #757C9D;
		width: 100%;
		height: 52px;
		background: #757C9D;
		display: flex;
		align-items: center;
		justify-content: center;
		color: #fff;
		position: sticky;
		top: 0;
		right: 0;
		z-index: 2;
	}

	.skill__dates-name {
		font-size: 14px;
		font-weight: 600;
	}

	.skill__dates-description {
		font-size: 14px;
	}

	.skill__images {
		padding: 25px 10px;
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-gap: 10px;
		overflow: scroll;
		min-height: 452px;
		max-height: 452px;
	}

	.skill__images-item img {
		width: 100%;
	}

	/* --------------------- end skill --------------------- */
	/* --------------------- work --------------------- */
	.work {
		margin-bottom: 60px;
	}

	.work__image img {
		max-height: 192px;
		min-height: 192px;
	}

	.work__head {
		margin-bottom: 32px;
	}

	.work .slider-btn-prev {
		margin-right: 24px;
	}

	/* --------------------- end work --------------------- */
	/* --------------------- reviews --------------------- */
	.reviews {
		margin-bottom: 60px;
	}

	.reviews__item-name {
		font-size: 18px;
		margin-bottom: 10px;
	}

	.reviews__item-description p {
		/*Ограничение по кол-ву строк*/
		-webkit-line-clamp: 14;
	}

	.reviews .slider-btn-prev {
		margin-right: 24px;
	}

	.reviews__btn {
		margin-top: 25px;
	}

	/* --------------------- end reviews --------------------- */
}

@media screen and (max-width: 480px) {
	/* --------------------- doctor --------------------- */
	.doctor__btn a {
		width: 100%;
	}

	/* --------------------- end doctor --------------------- */
	/* --------------------- skill --------------------- */
	.skill__images {
		grid-template-columns: repeat(1, 1fr);
		grid-gap: 10px;
	}

	/* --------------------- end skill --------------------- */
	/* ---------------------  reviews --------------------- */
	.reviews__btn a {
		width: 100%;
	}

	/* --------------------- end reviews --------------------- */


}
